@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");


.grid_container{
    width: 70%;
    margin: 13% auto;
    font-family: "Nunito Sans", sans-serif;
    transition: all ease .5s;
}

.common_container h2{
    padding: 10px 10px 30px 17px;
}

.common_container ul li{
    list-style: none;
    line-height: 34px;
    text-decoration: none;
    color: rgb(161, 160, 160);
}

.common_container ul a{
    text-decoration: none;
}

.common_container ul li:hover{
    color: rgb(250, 200, 36);
}

.contact_div svg{
    color: rgb(185, 185, 185);
}

.contact_div{
    text-align: center;
    margin-bottom: 5%;
}

@media only screen and (max-width: 768px) and (min-width:480px){
    .common_container h2{
        padding: 5px 0px 30px 20px;
        text-align: center;
    }
}