.common_div{
    border-bottom: 1px solid rgb(193, 192, 192);
    width: 100%;
    padding: 8px 2px 10px 20px;
    text-align: left;
}

.common_text{
    padding: 8px 10px;
    color: rgb(148, 147, 147);
}

.common_btn_sb svg{
    font-size: 24px;
    color: rgb(120, 119, 119);
    margin-right: 14px;
}

.common_btn_sb{
    color: rgb(116, 115, 115);
    width: 100%;
}
.sidebar_btn{
    position: absolute;
    top: 30px;
    left: 48%;
}

.drawer_div{
    position: absolute;
    top: 0;
    left: 16%;
}

.drawer_btn svg{
    font-size: 15px;
}

.drawer_elements svg{
    font-size: 20px;
    margin: 9px 20px;
    color: rgb(134, 132, 132);
}

.drawer_content{
    border-bottom: 1px solid rgb(176, 181, 184);
    padding: 10px 20px;
}