Text{
    font-family: Poppins;
}

.test1{
    color: gray;
    font-size: 12px;
}
.boxA:hover{
border:2px solid green;
/* background-color: aqua; */
}
.boxA{
    border:1px solid gray;
    /* background-color: aqua; */
    }
    .boxB{
        border:2px solid green
    }

    .boxAB{
        border:2px solid green;
        /* background-color: aqua; */
        }
        .box1234:hover{
border: '1px solid green';
        }