.test1{
    color: gray;
    font-size: 12px;
}
.boxA:hover{
border:2px solid green;
/* background-color: aqua; */
}
.boxA{
    border:2px solid green;
    /* background-color: aqua; */
    }
    .boxAB{
        border:2px solid green;
        /* background-color: aqua; */
        }
        .box1234:hover{
border: '1px solid green';
        }