@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

.top_sec{
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    font-family: "Nunito Sans", sans-serif;
}

.top_sec_flex{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
    margin: auto;
}

.mid_div{
    /* border: 1px solid; */
    width: 70%;
    margin: 8% auto;
}

.left_container{
    width: 45%;
    /* border: 1px solid ; */
}

.left_container p{
    color:  rgb(3, 203, 3);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10% ;
}

.left_container h1{
    color:  rgb(21, 24, 21);
    font-size: 53px;
    font-weight: 700;
    text-align: left;
    padding-right: 5%;
    margin-bottom: 6% ;
}

.left_container h2{
    color:  rgb(118, 120, 118);
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    padding-right: 28%;
    margin-bottom: 6% ;
}

.left_container button{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.left_container button svg{
    font-size: 28px;
    margin-right: 12px;
    border-radius: 50px;
}

.mid_div_flex{
    margin-top: 10%;
    justify-content: space-between;
}

.mid_div_flex div{
    width: 20%;
}

/* Right div css  */

.right_container{
    width: 45%;
    max-width:500px;
    box-shadow: rgba(124, 124, 124, 0.35) 0px 5px 15px;
    border-radius: 23px;
    padding: 15px 20px;
    z-index: -1;
    /* font-family: "Nunito Sans", sans-serif; */
}

.right_container h1{
    color: #1b1b20;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 4px;
}

.google_sign{
    width: 80%;
    margin: auto;
    border: 1px solid rgb(211, 210, 210);
    align-items: center;
}
.google_sign p{
    color: gray;
}

.google_sign svg{
    font-size: 30px;
    margin: 0% 5% 0% 0%;
}

.or_text{
    text-align: center;
    margin: 18px auto;
    font-size: 15px;
    color: #2f2f2f;
}

.log_in_input{
    margin: 13px auto;
    display: flex;
}

.forget_pass{
    text-align: center;
    margin: 18px auto;
    font-size: 15px;
    color: #02ce10;
    cursor: pointer;
}

.log_in_btn{
    margin: 30px auto;
    color: white;
    width: 40%;
}

.else_sign_up{
    color: #02ce10;
    text-align: center;
}

.else_sign_up span{
    color: rgb(88, 88, 88)
}

